[MAIN]
source-roots=src

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    multiple-statements,
    useless-return,
    too-many-locals,
    unnecessary-pass

[TYPECHECK]
generated-members=psycopg2.errors.*

[FORMAT]
max-line-length=120